In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../outputs/base_data.csv")

In [3]:
df.tail()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
71,Female,0,No,No,26,No,No phone service,DSL,No,No,Yes,Yes,Yes,No,Month-to-month,Yes,Credit card (automatic),44.45,1183.8
72,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,
73,Male,0,Yes,Yes,39,Yes,No,Fiber optic,No,Yes,No,No,Yes,No,Month-to-month,Yes,Mailed check,86.30,3266
74,Male,1,No,No,1,No,No phone service,DSL,No,No,Yes,No,No,Yes,Month-to-month,Yes,Electronic check,39.65,39.65
75,Male,0,No,Yes,51,Yes,No,Fiber optic,Yes,yes,Yes,Yes,No,Yes,Month-to-Month,yes,Electronic check,100.00,5100

In [7]:
df.columns

Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod',
       'MonthlyCharges', 'TotalCharges'],
      dtype='object')

In [15]:
num_cols= ['SeniorCitizen', 'tenure', 'MonthlyCharges', 'TotalCharges']

In [16]:
df[num_cols] = df[num_cols].apply(pd.to_numeric, errors="coerce", axis=1)

In [19]:
import numpy as np

In [20]:
np.array(df.tail(1).values)

array([['Male', 0.0, 'No', 'Yes', 51.0, 'Yes', 'No', 'Fiber optic',
        'Yes', 'yes', 'Yes', 'Yes', 'No', 'Yes', 'Month-to-Month', 'yes',
        'Electronic check', 100.0, 5100.0]], dtype=object)